<div class="progress">
    <div class="progress-circle">
        <h3>
            @completionText
        </h3>
    </div>
</div>

@code {
    [Parameter]
    public double Completion { get; set; }

    [Parameter]
    public IEnumerable<string> Options { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public bool IsMandatory { get; set; }

    private string LabelView
    {
        get
        {
            return IsMandatory ? $"{Label}(*)" : Label;
        }
    }

    private string completionText;
    //private string progressBarWidth;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        completionText = $"{Completion * 100}%";

    }
}
