<div class="progress">
    @if (Completion.HasValue)
    {
        <div class="text">@completionText</div>
        <div class="progress-bar" style="width: @progressBarWidth"></div>
    }
    else
    {
        <div class="inactive">-</div>
    }
</div>

@code {
    [Parameter]
    public double? Completion { get; set; }

    private string completionText;
    private string progressBarWidth;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Completion != null)
        {
            completionText = $"{Completion * 100}%";
            progressBarWidth = $"{Completion * 100}%";
        }
    }
}
