<div class="button-group">
	<CancelButton OnClick="CancelButtonOnClick"></CancelButton>
	@if (ConfirmButtonComponent != null)
	{
		@ConfirmButtonComponent
	}
	@if (ConfirmButtonComponent == null)
	{
		<ConfirmButton OnClick="ConfirmButtonOnClick"></ConfirmButton>
	}
</div>
@code {
	[Parameter]
	public Action ConfirmButtonOnClick { get; set; } = () => { };

	[Parameter]
	public Action CancelButtonOnClick { get; set; } = () => { };

	[Parameter]
	public RenderFragment ConfirmButtonComponent { get; set; }
}
