@inherits LayoutComponentBase


@*<AuthorizeView>
	<Authorized>*@
		<NavMenu />
		<main>
			@Body
		</main>
	@*</Authorized>
    <NotAuthorized>
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>*@



@code {

}