@inject IJSRuntime JSRuntime
@inject DoIt.ComponentLibrary.Modal.ModalService ModalService

<nav class="@navbarClass">
	<ul class="navbar-nav">
		<li class="nav-item">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" /></svg>
			</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="/todos">
				<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24" /></g><g><g><path d="M16.24,11.51l1.57-1.57l-3.75-3.75l-1.57,1.57L8.35,3.63c-0.78-0.78-2.05-0.78-2.83,0l-1.9,1.9 c-0.78,0.78-0.78,2.05,0,2.83l4.13,4.13L3,17.25V21h3.75l4.76-4.76l4.13,4.13c0.95,0.95,2.23,0.6,2.83,0l1.9-1.9 c0.78-0.78,0.78-2.05,0-2.83L16.24,11.51z M9.18,11.07L5.04,6.94l1.89-1.9c0,0,0,0,0,0l1.27,1.27L7.02,7.5l1.41,1.41l1.19-1.19 l1.45,1.45L9.18,11.07z M17.06,18.96l-4.13-4.13l1.9-1.9l1.45,1.45l-1.19,1.19l1.41,1.41l1.19-1.19l1.27,1.27L17.06,18.96z" /><path d="M20.71,7.04c0.39-0.39,0.39-1.02,0-1.41l-2.34-2.34c-0.47-0.47-1.12-0.29-1.41,0l-1.83,1.83l3.75,3.75L20.71,7.04z" /></g><g /></g></svg>
			</NavLink>
			<button class="sub-link" @onclick="() => OpenAddNewTodo()">
				<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
			</button>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="/goals">
				<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M14.4 6L14 4H5v17h2v-7h5.6l.4 2h7V6z" /></svg>
			</NavLink>
		</li>


		<li class="nav-item">
			<button @onclick="() => expand()" class="nav-link">
				<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24" /></g><g><g><polygon points="15.5,5 11,5 16,12 11,19 15.5,19 20.5,12" /><polygon points="8.5,5 4,5 9,12 4,19 8.5,19 13.5,12" /></g></g></svg>
			</button>
		</li>
	</ul>
</nav>


@code {

	string navbarClass;
	bool isExpanded = true;

	public NavMenu()
	{
		SetNavbarClass();
	}

	public void expand()
	{
		isExpanded = !isExpanded;
		SetNavbarClass();
	}

	public void SetNavbarClass()
	{
		if (isExpanded)
		{
			this.navbarClass = "navbar";
		}
		else
		{
			this.navbarClass = "navbar expanded";
		}
	}

	public void SetActive(ElementReference element)
	{
		JSRuntime.InvokeAsync<object>("setElementClass", new object[] { element, "active" });
	}

	private void OpenAddNewTodo()
	{
		ModalService.Show("New Todo", typeof(DoIt.Client.Pages.TodoCreate));
	}
}
