@namespace DoIt.Client.Components.Menus

@using DoIt.Client.Components.Icons;
@using DoIt.Client.Models.General;

<div @onclick="e => OnClick.InvokeAsync(e)" @onclick:stopPropagation class="menu-item">
    <IconComponent Color="AppColor.Gray" HeightAndWith="15" Icon=@Icon></IconComponent>
    <span>@Title</span>
</div>