.ideas-list {
    list-style: none;
    padding: 0;
}

.ideas-list-item {
    background-color: var(--bg-primary);
    padding: 2rem;
    border-bottom: 6px solid var(--bg-secondary);
}

    .ideas-list-item:hover {
        background-color: #b5b5b51c;
    }

article.idea {
    display: grid;
    /* grid-template-columns: [idea-date] 25% [idea-data] 65% [idea-actions] 10%; */
}

    article.idea div.idea-description {
        font-size: 0.8rem;
        color: var(--text-sub);
    }

.idea .idea-date {
    margin: auto 0;
    font-size: 0.6rem;
    color: #828282;
    margin-top: 8px;
}

.idea .idea-data .idea-title {
    font-size: 1rem;
}

.idea-categories {
    margin-top: 8px;
    display: inline-flex;
}

.idea-category {
    border: 1px var(--gray) solid;
    border-radius: 8px;
    font-size: 0.8rem;
    color: var(--gray);
    padding: 4px;
    margin-right: 8px;
}

.actions {
    list-style: none;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    .actions li {
        border: none;
    }

        .actions li:hover {
            background: none;
        }

.action {
    background: none;
    border: 0px;
    outline: none;
}

    .action:hover {
        color: #003000;
    }
