<button onclick="ToggleMenu">Menu</button>

<div>
	<ul>
		@foreach (var item in MenuItems)
		{
			<li>
				@item
			</li>
		}
	</ul>
</div>

@code {
	private bool _isOpen = false;

	[Parameter]
	public List<MenuItem> MenuItems { get; set; }

	public void CloseMenu()
	{
		_isOpen = false;
		StateHasChanged();
	}

	public void OpenMenu(EventArgs args)
	{
		_isOpen = true;
		StateHasChanged();
	}

	public void ToggleMenu(MouseEventArgs args)
	{
		if (_isOpen) CloseMenu();
		else OpenMenu(args);
	}
}
