@page "/demo"

@using DoIt.Client.Services.Modals;

@using DoIt.Client.Components.Modals.Confirm;

@inject ModalService ModalService;

<button @onclick="() => OpenModal()" @onclick:preventDefault="true">Click me</button>

<OptionsMenuButton OffsetY="true">
	<MenuItem OnClick="() => OpenModal()">Hi</MenuItem>
	<MenuItem OnClick="() => OpenModal()">Bye</MenuItem>
</OptionsMenuButton>

@code {



	public void OpenModal()
	{
		ModalService.Show<ConfirmModalComponent>();

		ModalService.OnClose += (object o) =>
		{
			Console.WriteLine($"Response ConfirmModal: {(bool?)o}");
		};
	}
}
