.modal {
    display: grid;
    grid-template-rows: 80px calc(100vh - 80px);
}

.top-modal {
    display: flex;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid var(--bg-secondary);
    padding: 1rem 0px;
}

.content-modal {
    padding: 1.5rem;
    overflow: scroll;
}

.title {
    margin: 0;
}

.menu-section {
    margin-left: auto;
}

.close-modal {
    display: inline-flex;
    padding: 10px;
}

    .close-modal button {
        color: var(--text-primary);
        border: none;
        background: none;
        right: 0px;
        display: flex;
        flex: initial;
        justify-content: flex-end;
    }
