@using DoIt.Client.Components.Menus
@inherits BaseComponent


<div class="modal">
    <section class="top-modal">
        <div class="close-modal">
            <button @onclick="() => CloseModal()">&#60;</button>
        </div>
        <div class="top-modal-title">
            <h1 class="title">@Title</h1>
        </div>
        <div class="menu-section">
            @if (Options != null)
            {
                <MenuComponent Icon="Models.Icons.IconType.MoreOptions" MenuItems="Options">
                </MenuComponent>
            }
        </div>
    </section>
    <div class="content-modal">
        @Content
    </div>
</div>