@page "/"

@using DoIt.Client.Components.Loading
@using DoIt.Client.Pages;

@inherits BaseComponent

<LoadingContainerComponent LoadingState="LoadingState">
    <Rendered>
        <div style="display:inline;">
            <DoIt.Client.Components.Buttons.IconButton OnClick="() => GoToast()" Icon="Models.Icons.IconType.Check" Height="100px" Width="200px" Text="Warn Me!"></DoIt.Client.Components.Buttons.IconButton>
            <DoIt.Client.Components.Buttons.IconButton OnClick="() => GoToastErr()" Icon="Models.Icons.IconType.Check" Height="100px" Width="200px" Text="Warn Me!"></DoIt.Client.Components.Buttons.IconButton>
            <DoIt.Client.Components.Buttons.IconButton OnClick="() => GoToastINf()" Icon="Models.Icons.IconType.Check" Height="100px" Width="200px" Text="Warn Me!"></DoIt.Client.Components.Buttons.IconButton>
            <DoIt.Client.Components.Buttons.IconButton OnClick="() => GoToastSUccess()" Icon="Models.Icons.IconType.Check" Height="100px" Width="200px" Text="Warn Me!"></DoIt.Client.Components.Buttons.IconButton>
        </div>
    </Rendered>
</LoadingContainerComponent>

@code {
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected override async Task LoadDataAsync()
    {
        await base.LoadDataAsync();

        await Task.Delay(2000);
    }

    public void GoToast()
    {
        ToastService.ShowWarning("Something went wrong!");
    }

    public void GoToastErr()
    {
        ToastService.ShowError("Something went wrong!");
    }

    public void GoToastINf()
    {
        ToastService.ShowInfo("Something went wrong!");
    }

    public void GoToastSUccess()
    {
        ToastService.ShowSuccess("Success!");
    }
}
