@using Blazor_Modal_Demo.Components;

@inject ModalService Modal;

<h3>TestPopUpComponent</h3>

This is a pop up!

@code {
	protected override Task OnInitializedAsync()
	{

		return Task.CompletedTask;
	}
}
