@using DoIt.Client.Models.General
@inherits BaseModalComponent<ConfirmModalParameter>;

<div class="confirm-modal">
	<div class="description">
		<p>@Parameter.Description</p>
	</div>
	<div class="confirm-modal-buttons">
		<button class="confirm-modal-button-cancel" @onclick="CancelBtnClick">Cancel</button>
		<button class="confirm-modal-button-confirm" @onclick="ConfirmBtnClick">Confirm</button>
	</div>
</div>

@code {
	protected override void OnInitialized()
	{
		base.OnInitialized();

		if (Parameter == null || string.IsNullOrEmpty(Parameter.Description))
		{
			Parameter = new ConfirmModalParameter()
			{
				Description = "Are you sure?"
			};
		}
	}

	private void ConfirmBtnClick()
	{
		this.CloseModal(ActionType.Confirm, true);
	}

	private void CancelBtnClick()
	{
		this.CloseModal(ActionType.Cancel, false);
	}

}
