:root {
    --input-width: 100%;
}

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

label {
    color: var(--text-primary);
    margin: 3px;
    font-weight: 900;
}

/*div.date-field {
	margin: 10px 0px;
}

	div.date-field input {
		display: block;
		background: none;
		border: none;
		width: 320px;
		border-bottom: 1px solid #c6c6c6;
		border-radius: 0;
		font-size: 18px;
	}

		div.date-field input:focus {
			outline: none;
		}

			div.date-field input:focus ~ .bar:before {
				width: 320px;
			}

.bar {
	position: relative;
	display: block;
	width: 320px;
}

	.bar:before {
		content: "";
		height: 2px;
		width: 0;
		bottom: 0px;
		position: absolute;
		background: #cea9a9;
		transition: 300ms ease all;
		left: 0%;
	}*/

input {
    margin-top: 0.5rem;
    border: 2px solid var(--bg-primary);
    width: 100vw;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    font-size: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
}


    input:focus {
        outline: none;
    }
