div.select-field {
	/*margin: 1rem 0px;*/
}

label {
	color: #c6c6c6;
	display:block;
}

select {
	display: block;
	border: none;
	/*width: 320px;*/
	border-bottom: 1px solid #c6c6c6;
	font-size: 1rem;
    color: var(--text-primary);
	outline: none;
	background: none;
}

option {
    color: var(--text-primary);
    background-color: var(--bg-primary);
}
