:root {
    /* 320px; */
    --input-width: 100%;
}

.text-field {
}

label {
    color: var(--text-primary);
    margin: 3px;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

input,
textarea {
    border: 2px solid var(--bg-primary);
    width: 100vw;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    font-size: 1rem;
    display: block;
    width: var(--input-width);
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 165px;
}

    input:focus,
    textarea:focus {
        outline: none;
    }

/* input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: var(--input-width);
} */

/* .bar {
  position: relative;
  display: block;
  width: var(--input-width);
} */
/* 
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  background: #cea9a9;
  transition: 300ms ease all;
  left: 0%;
} */
